@use 'base/variables' as v;
@use 'base/mixins' as m;

.welcome {
    margin-top: 5rem;
    .logo {
        @include m.gradientText(v.$indigo, v.$pink);
    }
    .container-sm{
        @include m.highlight(v.$indigo, v.$pink);
    }
    .actions {
        display: flex;
        justify-content: center;
        a {
            color: v.$indigo;
        }
        .button {
            @include m.button(lighten(v.$indigo, 12%), v.$white);
        }
    }
}