@use 'base/variables' as v;
@use 'base/mixins' as m;

.sidebar {
    opacity: 0;
    background-color: v.$indigo;
    height: 0;
    overflow: hidden;
    transition-property: opacity;
    transition-duration: 500ms;
    &.show {
        opacity: 1;
        padding: 2rem;
        height: 100%;
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0 0 0 / .90);
        @include m.tablet {
            display: none;
        }
    }
    &.hide {
        opacity: 0;
    }
    @include m.tablet {
        height: 100%;
        opacity: 1;
        padding: 2rem;
        background-color: v.$indigo;
    }
    .sidebar-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2 {
            color: v.$white;
            margin: 0;
            text-align: center;
        }
        .close-menu {
            display: flex;
            justify-content: center;
            height: 2rem;
            width: 2rem;
            img {
                &:hover {
                    cursor: pointer;
                }
            }
            @include m.tablet {
                display: none;
            }
        }
    }
    .sidebar-nav {
        margin-top: 5rem;
        a {
            color: v.$white;
            display: block;
            padding: 1rem;
            transition-property: background-color;
            transition-duration: 300ms;
            font-weight: bold;
            font-size: 2.4rem;
            margin-bottom: 2rem;
            text-align: center;
            &:hover,
            &.active {
                background-color: darken(v.$indigo, 20%);
                border-radius: 0.5rem;
            }
            @include m.tablet {
                font-size: 1.4rem;
                margin-bottom: 1.5rem;
                text-align: left;
            }
        }
    }
    .logout-mobile {
        margin-top: 10rem;
        .logout {
            @include m.button(v.$indigo, v.$white);
        }
        @include m.tablet {
            display: none;
        }
    }
}