@use 'base/variables' as v;
@use 'base/mixins' as m;

.container-new-task {
    display: flex;
    justify-content: center;
    .add-task {
        @include m.button(v.$cyan, v.$white);
    }
}
.tasks-list {
    list-style: none;
    padding: 0;
    margin-top: 3rem;
    .no-tasks {
        text-align: center;
    }
}
.task {
    padding: 0.5rem 2rem;
    border-bottom: 2px solid darken(v.$lightGray, 5%);
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:last-of-type {
        border: none;
    }
    p {
        font-size: 1.4rem;
        &:hover {
            cursor: pointer;
        }
    }
    .options {
        display: flex;
        gap: 1.2rem;
        button {
            border: none;
            font-size: 1rem;
            padding: 0.5rem 1rem;
            text-transform: uppercase;
            font-weight: 700;
            border-radius: 1rem;
            &:hover {
                cursor: pointer;
            }
        }
        .completed {
            background-color: v.$blue;
            color: v.$white;
        }
        .new {
            background-color: v.$orange;
            color: v.$white;
        }
        .delete-task {
            background-color: v.$red;
            color: v.$white;
        }
    }
}